<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Exercises</title>
  </head>
  <body>
    <h1>Exercises</h1>

    <div id="app">
      <h2>{{movieName}}</h2>

      <h3>Add Characters</h3>

      <p>{{characterName}}</p>
      <div>
        <label for="character">Character Name</label>
        <input
          type="text"
          v-bind:value="newCharacter.name"
          v-on:input="handleCharacterNameChange"
        />
        <input
          type="number"
          v-bind:value="newCharacter.age"
          v-on:input="handleCharacterAgeChange"
        />
      </div>

      <button v-on:click="addCharacter">Add Character</button>

      <h3>Characters</h3>
      <ul v-if="characters.length">
        <li v-for="character in characters">
          {{ character.name }}
          <button v-on:click="markAsFavourite(character)">
            Mark as favourite
          </button>
        </li>
      </ul>
      <p v-else>No characters found</p>

      <h3>Average Age of Characters: {{ calcAverageAge }}</h3>

      <p>
        <span v-for="(character, index) in characters"
          >{{character.name}}{{index === characters.length - 1 ? "" : ", "
          }}</span
        >
      </p>

      <hr />

      <h3>Favourite Characters</h3>

      <ul v-if="favourites.length">
        <li v-for="character in favourites">{{character}}</li>
      </ul>
      <p v-else>No favourite characters found!</p>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const { createApp } = Vue;

    const app = createApp({
      data() {
        return {
          movieName: "Mission Impossible",
          newCharacter: {
            name: "",
            age: 0,
          },
          characters: [
            { name: "Ethan Hunt", age: 59 },
            { name: "Luther", age: 52 },
            { name: "Benji", age: 49 },
            { name: "Julia", age: 42 },
            { name: "Ilsa", age: 40 },
          ],
          favourites: [],
          // characters: [],
        };
      },
      computed: {
        calcAverageAge() {
          const totalAge = this.characters.reduce(
            (prev, curr) => prev + Number(curr.age),
            0
          );
          return totalAge / this.characters.length;
        },
      },
      methods: {
        addCharacter() {
          this.characters.push(this.newCharacter);
          this.newCharacter = { name: "", age: 0 };
        },
        handleCharacterNameChange(e) {
          this.newCharacter.name = e.target.value;
        },
        handleCharacterAgeChange(e) {
          this.newCharacter.age = e.target.value;
        },
        markAsFavourite(name) {
          this.favourites.push(name);
        },
      },
    });
    app.mount("#app");
  </script>
</html>
