<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exploring Vue</title>
  </head>
  <body>
    <h1>Exploring Vue!</h1>

    <div id="app">
      <h1>{{counterTitle}}</h1>

      <h3>{{count}}</h3>
      <h4>{{incrementAmount}}</h4>
      <div>
        <label for="incCount">Increment Count</label>
        <input
          type="number"
          v-bind:value="incrementAmount"
          v-on:input="changeIncrementCount"
        />
      </div>

      <div>
        <label for="incCount">Increment Count</label>
        <input type="number" v-model="incrementAmount" />
      </div>

      <button v-on:click="incrementCount">Increment Count</button>
      <button v-on:click="increment(10, $event)">Increment Count</button>

      <hr />

      <p v-if="message.length % 2 === 0">Even: {{message.toUpperCase()}}</p>
      <p v-else>Odd: {{message}}</p>

      <h4>Rendering List</h4>
      <ul>
        <li v-for="number in listOfNumbers">{{ number }}</li>
      </ul>

      <ul v-for="item in items">
        <li>{{item.id}}</li>

        <ul>
          <li v-for="number in item.list">{{number}}</li>
        </ul>
      </ul>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;

    const app = createApp({
      data() {
        return {
          counterTitle: "Counter Standard",
          count: 10,
          incrementAmount: 1,
          message: "Hey Sumit!",
          listOfNumbers: [1, 2, 3, 4, 5],
          items: [
            {
              id: "7d4038ca-6900-4ed1-8797-6340170ab9da",
              name: "Item 01",
              list: [1, 2, 3],
            },
            {
              id: "5511dd13-76ca-4b77-b799-ef28a0cf43ec",
              name: "Item 02",
              list: [1, 2, 3],
            },
            {
              id: "d4c9db69-0263-4898-8b98-417866ed9db8",
              name: "Item 03",
              list: [1, 2, 3],
            },
            {
              id: "1de59615-279a-49f2-9a2b-f6a7f5f79a43",
              name: "Item 04",
              list: [1, 2, 3],
            },
            {
              id: "b283776e-18fa-45ee-bd2f-bb1b9bf9216a",
              name: "Item 05",
              list: [1, 2, 3],
            },
          ],
        };
      },
      watch: {
        count(newData) {
          if (newData > 20) {
            this.counterTitle = "Counter Standard - Very Long";
          } else {
            this.counterTitle = "Counter Standard";
          }
        },
      },
      methods: {
        increment(amount, event) {
          console.log(amount, event);
        },
        incrementCount() {
          this.count += this.incrementAmount;
        },
        changeIncrementCount(event) {
          this.incrementAmount = Number(event.target.value);
        },
      },
    });

    app.mount("#app");
  </script>
</html>
